body {
    background-color: #E8E8E8;
}

.login {
    background-color: white;
    text-align: center;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 100px;
}

p {
    font-size: 25px;
}

a {
    font-size: 20px;
}

.titulo {
    font-size: 30px;
}